html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2rem;
}

/* Generic */

p {
    font-size: 0.8rem;
    color: #01101B;
}

h1 {
    color: #01101B;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
  color: #01101B;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-align: center;
}

h3 {
    color: #01101B;
    font-size: 1rem;
    font-weight: 600;
}

.title {
    margin: 2rem auto;
    text-align: center;
}

/* Header */

header {
    display: flex;
    background-color: #1C6EA8;
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    align-items: center;
}

.logo {
    font-family: 'Noto Serif', serif;
    display: flex;
    margin: 0 0.75rem; /* maintains 24px margin (1.5*16=24)between logo and left end*/
    color: #01101B;
    align-items: center;
}

.logo-txt {
  padding: 0.1rem;
  flex: 1 1 auto;
}

/* set 'Colman' logo text to bold */
.logo-txt span {
  font-weight: bold;
}

.logo-txt p {
  font-size: 1.5rem;
}

/* Menu */

.menu {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.navigation-large {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.navigation-large li {
    flex: auto;
    line-height: 1.3rem;
    margin: 0 1.5rem; /* maintains 24px margin right end*/
    text-align: end;
}

.navigation-large a {
    text-decoration: none;
    color: #F8FCFF;
}

.navigation-large a:hover {
  font-weight: bold;
  color: #010F19;
}

.navigation-small {
        display: none;
    }

/* Banner Section */

.banner {
    display: flex;
    justify-content: center;
    background-color: #B4D7EF;
    padding-top: 4rem; /* to remain visible with fixed position header */
}

/* column1 nb same column structure repeated under orientation, learning and thesis. Minor tweaks */

.banner .column1 {
    flex-direction: column;
    width: 60%;
    flex: auto;
    margin: 2rem 0rem 2rem 1.5rem;
}

.image-flex img  {
    width: 100%;
    /* min-width: 250px; to prevent image shrinking disproportionately */
    height: auto;
    display: block;
}

/* Banner column2 */

.banner .column2 {
    flex-direction: column;
    margin: 2rem 1.5rem;
    width: 40%;
    justify-content: center;
    flex: auto;

}

.text {
    margin: 2rem auto;
}

.text h1, h3 {
    margin: 1rem auto;
}

.start-button {
    display: flex;
    flex: auto;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: normal;
    background-color: #1C6EA8;
    text-align: center;
    margin: 2rem auto;
    padding: 0.5rem 2rem;
    border-radius: 0.6rem;
    width: 40%;
}

i {
    margin-left: 1rem;
    margin-top: 5px;
}


.start-button:hover {
    background-color: #B4D7EF;
    padding: 1rem;
    font-size: 1.75rem;
    color: #01101B;
    font-weight: bold;
    border-radius; 1.5rem;
    transition: all 1s ease-out 1s;
}

.text a {
  text-decoration: none;
}

/* Orientation Section */

.orientation .sidebar-mobile {
    display: none;
}

.orientation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Column 1 - Same style above banner section column1: */

.orientation .column1 {
    flex-direction: column;
    width: 60%;
    flex: auto;
    margin: 2rem 1.5rem;
}

/* image flex same style banner */

.image-flex {
    width: 100%;
    height: auto;
    display: block;
}

/* text class same style banner */

.text {
    margin: 2rem auto;
}

.text h2 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1.5rem;
}

.emanuel {
    margin-bottom: 2rem;
}

/* specify to avoid styling button, also span */

.orientation .text span {
    font-style: italic;
}

/* Orientation Column 2 */

.orientation .column2 {
    flex-direction: column;
    margin: 2rem 1.5rem;
    width: 40%;
    justify-content: center;
    flex: auto;

}

/* Sidebar */

.sidebar:hover {
    background-color: #B4D7EF;
    transition: all 1s linear 500ms;
}

.sidebar {
    display: inline-flex;
    padding-bottom: 1rem;
    align-content: center;
}

.sidebar-image {
    max-width: 35%;
    height: auto;
    margin: 1rem;
}

.sidebar-image img {
    max-width: 100%;
    min-width: 100px;
    height: auto;
    margin-right: 1rem;
}

.sidebar-info {
  padding: auto 2rem;
}

.sidebar p {
  padding-bottom: 1rem;
}

.sidebar a {
    text-decoration: underline;
    font-weight: bold;
    color: #3587C1;
}

.sidebar a:hover {
  color: #010F19;
}

/* Learning Section */

.courses-mobile {
  display: none;
}

.courses {
    background-color: #B4D7EF;
    padding: 1rem 0;
}

.courses-flex {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 0 2rem 3rem 2rem;
}

.courses .column1,
.courses .column2,
.courses .column3 {
    flex-direction: column;
    align-content: space-between;
    flex: auto;
    align-items: center;
    max-width: 350px;
    max-height: 700px;
    }

.course-option {
    align-content: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: auto;
    height: 40%;
    overflow: scroll;
    padding: 1rem;
    margin: 1rem;
}

/* Can't figure out how to solve margin-top/bottom discrepancy when columns wrap before entering mobile screen */

.image-container img {
  display: block;
  max-width: 100%; /* this seems to be the only way I can get the img to resize to it's parent container. Is there no way to do this from the parent? */
}

.course-option h3 {
  text-align: center;
  font-weight: 900;
}

.course-option p {
    margin: 0.5rem 1rem;
}

/* Thesis Section */

.thesis {
    justify-content: center;
    align-items: center;
}

.thesis-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.thesis-flex .column1 {
    flex-direction: column;
    width: 60%;
    margin: 0 1.5rem;
}

.thesis-flex .column2 {
    flex-direction: column;
    width: 40%;
}

 /* Footer */

 footer {
    display: flex;
    margin: auto;
    font-size: 0.8rem;
    background-color: #B4D7EF;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
    border-top: 1px dotted #010F19;
}


footer span, a {
    color: #0F3651;
    text-decoration: none;
}

/* Responsive media queries */

@media only screen and (max-width: 550px) {

  /* Menu: white, use logo icons */

  .navigation-large {
  display: none;
  }

  header {
  background-color: white;
  width: 100%;
  justify-content: center;
  }

  .logo {
    display: none;
  }

  .navigation-small {
  display: flex;
  justify-content:space-around;
  flex: auto;
  height: 100%;
  }


  .logo-img  {
  margin: auto 0.5rem;
  }

  .logo-img a img {
  height: 2.5rem;
  }

/* Banner */

  .banner {
  flex-direction: column;
  align-items: center;
  }

  .banner .column1 {
  width: 100%;
  height: auto;
  margin: 0rem auto;
  }

  .banner .column2 {
  width: auto;
  margin: 0rem auto;
  padding: 0rem 2rem;
  }

  .text h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .text h3 {
    font-size: 1rem;
  }

/* Orientation */

  .orientation .column1,
  .sidebar-image {
    display: none;
  }

  .sidebar {
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  }

  .sidebar .sidebar-mobile {
  display: block;
  width: auto;
  margin: 0 auto;
  }

  .sidebar img {
  width: 100%;
  }

  .sidebar-info {
  width: 90%;
  margin: auto 1.5rem;
  }

/* Learning Section */

    .courses-flex {
    display: none;
    }

    .courses-mobile {
    display: block;
    width: 100%;
    margin: 0;
    }

    .course-option {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    width: 75%;
    height: 3rem;
    margin: 1rem auto;
    background-color: #ffffff;
    color: #01101B;
    border-radius: 0.6rem;
    }

    .course-option:hover {
          background-color: #B4D7EF;
          border-radius: 0.6rem;
          font-size: 1.5rem;
    }

    .course-option h3:hover {
      font-size: 1.5rem;
    }


/* Thesis Section & Footer */

    .thesis h3, p, .thesis .column2, .links{
    display: none;
    }

    .thesis .column1 {
    width: 100%;
    height: auto;
    margin: 0;
    }

    .thesis video {
    width: 100%;
    margin-bottom: 1rem;
    }


}
